@scope (#main-case) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(141, 184, 103, 0.9) 0%, rgba(82, 182, 94, 0.9) 100%);
}

body {
        margin: 0;
    }